<div class="container">
  <div class="p-grid">

    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="p-col-12">
      <label style="display: block">Vencimento</label>
      <input pInputText type="text" style="width: 95px">

      <label>até</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Novo Lançamento"></button>
    </div>

  </div>

</div>
<!-- <h1>{{ nome | uppercase }}</h1>
  <h1>{{ dataAniversario | date:'dd/MM/yyyy'}}</h1>
  <h1>{{ preco | number:'1.2-2' }}</h1>
  <h1>{{ troco | currency:'BRL':true:'1.2-2' }}</h1> -->
